/*  CSS geral presentes nas páginas */

/*  Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*  Estilização geral do body */
body {
    font-family: "Kanit", sans-serif;
    background-color: #edbbc7; 
    height: 100vh;
    display: flex;
    flex-direction: column; /*  Organizando o conteúdo verticalmente */   
}

/*  Main - conteúdo principal */
main.content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto; /*  Centralizando o conteúdo */
    flex: 1; /*  O conteúdo principal se expande para preencher o espaço disponível */
}

/*  Container para o conteúdo principal */
main.content div.container {
    width: 100%;
    max-width: 1440px;
    margin: 0;
}

/*  Estilização para telas menores que 1440px */
@media (max-width: 1440px) {
    main.content div.container {
        padding: 0 20px;
    }
}

/*  Estilização para telas menores que 768px */
@media (max-width: 768px) {}

#logo{
    font-family: "Lobster", sans-serif; 
    font-size: 50px;
    color:white;
}
