/* CSS das navbars e footers presentes em todas as páginas */

/* Navbar */
header.navbar {
    width: 100%;
    z-index: 1;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
}

/* Padronização de estilos para Navbar e Footer */
header.navbar,
div#navbarToggleExternalContent{
    background: linear-gradient(to right, #66416c, #ee7895);
}

/* Navbar mobile */
div#navbarToggleExternalContent {
    border-top: 1px solid white;
}

/* Container dentro da Navbar e do Footer */
header.navbar div.container,
footer.footer div.container {
    max-width: 1440px;
    margin: 0 auto;
}
header.navbar div.container,
header.navbar div.container nav,
footer.footer div.container {
    display: flex;
    align-items: center;
}

/* Estilização do menu de navegação na Navbar (principal e mobile) */
header.navbar div.container nav ul {
    display: flex;
}
header.navbar div.container nav ul,
div#navbarToggleExternalContent nav ul {
    list-style: none;
}

/* Estilo dos itens da Navbar expansível (para mobile) */
div#navbarToggleExternalContent nav ul li {
    padding: 8px;
}

#logo{
    font-family: "Lobster", sans-serif; 
    font-size: 50px;
    color:white;
}

/* Estilização dos links */
ul li a {
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Espaçamento entre os itens do menu da Navbar principal, exceto o primeiro */
header.navbar div.container nav ul li:not(:nth-child(1)) {
    margin-left: 20px;
}

header.navbar div.container a,
header.navbar div.container nav ul li a,
div#navbarToggleExternalContent nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

/* Estilo do link ativo na Navbar */
header.navbar div.container nav ul li a.actived {
    cursor: default;
    color: #ee7895;
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 25px;
}

/* Hover - destaca links inativos ao passar o mouse */
header.navbar div.container nav ul li a:not(.actived):hover {
   color: #ee7895; 
}

/* Links da Navbar expansível (mobile) ocupam 100% da largura */
div#navbarToggleExternalContent nav ul li {
    display: flex;
    justify-content: center;
}
div#navbarToggleExternalContent nav ul li a {
    width: 100%;
    text-align: center;
}
    
/* Estilização do link ativo na Navbar expansível */
div#navbarToggleExternalContent nav ul li a.actived {
    color: #ee7895;
}

/* Esconde o item "botaoMobile" do menu (para desktop) */
header.navbar div.container nav ul li#botaoMobile {
    display: none;
}

/* Borda inferior para itens da Navbar expansível, exceto o 6º */
div#navbarToggleExternalContent nav ul li:not(:nth-child(6)) {
    border-bottom: 1px solid white;
}

#buttonNavbarTelaPequena {
    outline: none;
    border:none;
    box-shadow: none;
}

.logout {
    border: none;
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 0px #000, -0.5px -0.5px 0px #000, 0.5px -0.5px 0px #000, -0.5px 0.5px 0px #000;
}
.logout:hover{
    color:#ee7895;
    text-shadow: 0.5px 0.5px 0px #ee7895, -0.5px -0.5px 0px #ee7895, 0.5px -0.5px 0px #ee7895, -0.5px 0.5px 0px #ee7895;
}

/* Footer */
footer.footer{
    background: linear-gradient(to right, #ee7895, #66416c);
    color:#ffffff;
    margin-top: 80px;
}
footer.footer a{   
    color: white;
    text-decoration: none;
}
footer.footer a:hover{
    color:#4F2A3F;
    font-weight: 600;
}

/* Footer (Rodapé) - Centraliza o conteúdo */
footer.footer div.container {
    justify-content: center;
    
}

/* Estilização para telas menores que 1440px */
@media (max-width: 1440px) {
    header.navbar div.container,
    footer.footer div.container {
        padding: 0 20px;
    }
}


/* Estilização para telas menores que 768px */
@media (max-width: 768px) {
    /* Exibe o botão para exibir a Navbar mobile */
    header.navbar div.container nav ul li#botaoMobile {
        display: block;
    }
    
    /* Esconde todos os itens da Navbar principal, exceto o botão para exibir a Navbar mobile */
    header.navbar div.container nav ul li:not(#botaoMobile) {
        display: none;
    }
    
    /* Remove o espaçamento entre itens do menu */
    header.navbar div.container nav ul li:not(:nth-child(1)) {
        margin-left: 0;
    }

    header.navbar div.container nav ul li#botaoMobile i {
        font-size: 20px;
    }

    /* Alinha os itens do menu verticalmente */
    header.navbar div.container nav ul {
        flex-direction: column;
        align-items: center;
    }

    /* Ajusta o padding dos itens da navbar expansível */
    div#navbarToggleExternalContent nav ul li {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Footer em coluna para telas menores */
    footer.footer div.container {
        flex-direction: column;
    }
}
