/* CSS presente em todas as páginas */

/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização geral do body */
body {
    /* font-family: "Kanit", sans-serif; */
    background-color: #edbbc7; 
    height: 100vh;
    display: flex;
    /* Organizando o conteúdo verticalmente */
    flex-direction: column;
}

/* Main - conteúdo principal */
main.content {
    width: 100%;
    max-width: 1440px;
    /* Centralizando o conteúdo */
    margin: 0 auto;
    /* O conteúdo principal se expande para preencher o espaço disponível */
    flex: 1;
}

/* Container para o conteúdo principal */
main.content div.container {
    width: 100%;
    max-width: 1440px;
    margin: 0;
}

/* Modal finalizar sessão */
/* título "excluir conta" */
#modalFinalizarSessaoLabel {
    color: white;
    font-size: 40px;
}
    
#modalFinalizarSessao {
    color: white;
    font-size: 30px;
}
 
.modal-content {
    color: black;
    background-color: white;
    height: auto;
    width: auto;
}
    
/* Esse é o "x"*/
.modal-header {
    color:white;
    background: linear-gradient(to right, #66416c, #ee7895);
    font-size: 30px;
}
    
.botaoNaoFinalizarSessao,
.botaoSimFinalizarSessao {
    height: auto;
    width: auto;
    padding: 10px;
    font-size: 30px;
    justify-content: center;    
    border: 0px;
    color: white;
    border-radius: 10px;
}

.botaoNaoFinalizarSessao {
    background-color: #66416c;
}
.botaoNaoFinalizarSessao:hover {
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.botaoSimFinalizarSessao {
    background-color: #ee7895;
}    
.botaoSimFinalizarSessao:hover {
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilização para telas menores que 1440px */
@media (max-width: 1440px) {
    main.content div.container {
        padding: 0 20px;
    }
}
